In [1]:
pip install nsetools

Requirement already satisfied: nsetools in c:\users\dhing\anaconda3\lib\site-packages (1.0.11)
Requirement already satisfied: dateutils in c:\users\dhing\anaconda3\lib\site-packages (from nsetools) (0.6.12)
Requirement already satisfied: six in c:\users\dhing\anaconda3\lib\site-packages (from nsetools) (1.16.0)
Requirement already satisfied: pytz in c:\users\dhing\anaconda3\lib\site-packages (from dateutils->nsetools) (2021.3)
Requirement already satisfied: python-dateutil in c:\users\dhing\anaconda3\lib\site-packages (from dateutils->nsetools) (2.8.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

In [3]:
import yfinance as yf
import pandas as pd

In [4]:
ticker1 = yf.Ticker("BLUEDART.NS")

In [5]:
df = ticker1.history(interval="1d", start="2021-06-23", end="2022-06-23")

In [6]:
from nsetools import Nse

In [7]:
nse=Nse()

In [8]:
quote = nse.get_quote('BLUEDART')

In [9]:
type(quote)

dict

In [10]:
quote

{'pricebandupper': 8606.9,
 'symbol': 'BLUEDART',
 'applicableMargin': 16.93,
 'bcEndDate': '27-JUL-22',
 'totalSellQuantity': None,
 'adhocMargin': None,
 'companyName': 'Blue Dart Express Limited',
 'marketType': 'N',
 'exDate': '18-JUL-22',
 'bcStartDate': '20-JUL-22',
 'css_status_desc': 'Listed',
 'dayHigh': 7309.35,
 'basePrice': 7172.45,
 'securityVar': 13.43,
 'pricebandlower': 5738.0,
 'sellQuantity5': None,
 'sellQuantity4': None,
 'sellQuantity3': None,
 'cm_adj_high_dt': '02-JUN-22',
 'sellQuantity2': None,
 'dayLow': 7066.0,
 'sellQuantity1': None,
 'quantityTraded': 15350.0,
 'pChange': 1.37,
 'totalTradedValue': 1390.39,
 'deliveryToTradedQuantity': 33.95,
 'totalBuyQuantity': None,
 'averagePrice': 7191.8,
 'indexVar': None,
 'cm_ffm': 4322.49,
 'purpose': 'ANNUAL GENERAL MEETING/DIVIDEND - RS 35 PER SHARE',
 'buyPrice2': None,
 'secDate': '23-Jun-2022 14:00:00',
 'buyPrice1': None,
 'high52': 7814.55,
 'previousClose': 7172.45,
 'ndEndDate': None,
 'low52': 5306.5,
 'buyPrice4': None,
 'buyPrice3': None,
 'recordDate': None,
 'deliveryQuantity': 5212.0,
 'buyPrice5': None,
 'priceBand': 20.0,
 'extremeLossMargin': 3.5,
 'cm_adj_low_dt': '11-AUG-21',
 'varMargin': 13.43,
 'sellPrice1': None,
 'sellPrice2': None,
 'totalTradedVolume': 19333.0,
 'sellPrice3': None,
 'sellPrice4': None,
 'sellPrice5': None,
 'change': 98.25,
 'surv_indicator': None,
 'ndStartDate': None,
 'buyQuantity4': None,
 'isExDateFlag': False,
 'buyQuantity3': None,
 'buyQuantity2': None,
 'buyQuantity1': None,
 'series': 'EQ',
 'faceValue': 10.0,
 'buyQuantity5': None,
 'closePrice': 7286.75,
 'open': 7150.0,
 'isinCode': 'INE233B01017',
 'lastPrice': 7270.7}

In [11]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-06-23,5814.647140,5833.425037,5723.532971,5754.053223,24749,0.0,0
2021-06-24,5793.838582,5875.093032,5687.811435,5782.046875,20211,0.0,0
2021-06-25,5828.519849,5856.959097,5767.083564,5795.720703,20034,0.0,0
2021-06-28,5811.675134,5832.285826,5628.357163,5681.172363,28996,0.0,0
2021-06-29,5725.168387,5796.810830,5694.548948,5746.819336,37727,0.0,0

In [12]:
ticker1.info

{'zip': '400099',
 'sector': 'Industrials',
 'longBusinessSummary': 'Blue Dart Express Limited provides courier and express services. It provides day-definite and time-definite delivery schedules across air and ground network under the Domestic Priority, Dart Apex, Dart Surfaceline, and Dart Plus name; door-to-door ground distribution service to approximately 35,000 locations for shipments weighing 10 kgs and above under the Dart Surfaceline name; and industry-specific services. The company also offers air freight services between the airports of Kolkata, Delhi, Mumbai, Bangalore, Chennai, Hyderabad, and Ahmedabad; air and ground express packaging services under the Smart Box name; wood-free palletized packaging; shipment for freight of above 100kgs, 75kgs,and 50kgs; door-to-door express deliveries for documents and packages; international services; and temperature controlled logistics solutions, as well as operates domestic express airline charter. Its infrastructure includes a fleet of 6 Boeing 757-200 freighters with a capacity of 500 tonnes per night; and a flotilla of approximately 11,122 vehicles and 2,113 facilities. The company was founded in 1983 and is headquartered in Mumbai, India. Blue Dart Express Limited is a subsidiary of DHL Express (Singapore) Pte. Ltd.',
 'city': 'Mumbai',
 'phone': '91 22 2839 6444',
 'country': 'India',
 'companyOfficers': [],
 'website': 'https://www.bluedart.com',
 'maxAge': 1,
 'address1': 'Blue Dart Centre',
 'fax': '91 22 2824 4131',
 'industry': 'Integrated Freight & Logistics',
 'address2': 'Sahar Airport Road Andheri (East)',
 'ebitdaMargins': 0.22668,
 'profitMargins': 0.086660005,
 'grossMargins': 0.30919,
 'operatingCashflow': 8597900288,
 'revenueGrowth': 0.202,
 'operatingMargins': 0.13704,
 'ebitda': 9997899776,
 'targetLowPrice': None,
 'recommendationKey': 'none',
 'grossProfits': 13636800000,
 'freeCashflow': 5606462464,
 'targetMedianPrice': None,
 'currentPrice': 7286.75,
 'earningsGrowth': 0.522,
 'currentRatio': 0.846,
 'returnOnAssets': 0.13194,
 'numberOfAnalystOpinions': None,
 'targetMeanPrice': None,
 'debtToEquity': 122.242,
 'returnOnEquity': 0.52216,
 'targetHighPrice': None,
 'totalCash': 4225299968,
 'totalDebt': 10659399680,
 'totalRevenue': 44104900608,
 'totalCashPerShare': 178.088,
 'financialCurrency': 'INR',
 'revenuePerShare': 1858.773,
 'quickRatio': 0.763,
 'recommendationMean': None,
 'exchange': 'NSI',
 'shortName': 'BLUE DART EXPRESS',
 'longName': 'Blue Dart Express Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'BLUEDART.NS',
 'messageBoardId': 'finmb_882716',
 'market': 'in_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 3.666,
 'beta3Year': None,
 'enterpriseToEbitda': 16.174,
 '52WeekChange': 0.24583256,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 23727900,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 367.526,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1648684800,
 'heldPercentInstitutions': 0.10237,
 'netIncomeToCommon': 3822099968,
 'trailingEps': 161.08,
 'lastDividendValue': 35,
 'SandP52WeekChange': -0.11329222,
 'priceToBook': 19.826488,
 'heldPercentInsiders': 0.76517,
 'nextFiscalYearEnd': 1711843200,
 'yield': None,
 'mostRecentQuarter': 1648684800,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 5571568,
 'beta': 0.46913,
 'enterpriseValue': 161709867008,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 997401600,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1658188800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.522,
 'priceToSalesTrailing12Months': 3.9201827,
 'dateShortInterest': None,
 'pegRatio': None,
 'ytdReturn': None,
 'forwardPE': None,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 7172.45,
 'regularMarketOpen': 7150,
 'twoHundredDayAverage': 6632.1357,
 'trailingAnnualDividendYield': 0.008365342,
 'payoutRatio': 0.2483,
 'volume24Hr': None,
 'regularMarketDayHigh': 7309.35,
 'navPrice': None,
 'averageDailyVolume10Day': 15407,
 'regularMarketPreviousClose': 7172.45,
 'fiftyDayAverage': 6985.967,
 'trailingAnnualDividendRate': 60,
 'open': 7150,
 'toCurrency': None,
 'averageVolume10days': 15407,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 75,
 'exDividendDate': 1658102400,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 7066,
 'currency': 'INR',
 'trailingPE': 45.23684,
 'regularMarketVolume': 19333,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 172899270656,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 16645,
 'dayLow': 7066,
 'ask': 0,
 'askSize': 0,
 'volume': 19333,
 'fiftyTwoWeekHigh': 7814.55,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 5306.5,
 'bid': 0,
 'tradeable': False,
 'dividendYield': 0.0115,
 'bidSize': 0,
 'dayHigh': 7309.35,
 'regularMarketPrice': 7286.75,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/bluedart.com'}

In [13]:
ticker1.actions

            Dividends  Stock Splits
Date
2021-07-20       15.0           0.0
2021-07-22       15.0           0.0
2022-02-08       25.0           0.0

In [14]:
ticker1.financials

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,5122900000.0,1397900000.0,-391200000.0,1341400000.0
Minority Interest,None,None,None,None
Net Income,3822100000.0,1018100000.0,-418600000.0,897600000.0
Selling General Administrative,NaN,337400000.0,630100000.0,2075400000.0
Gross Profit,13636800000.0,9414100000.0,7551900000.0,6756700000.0
Ebit,6044200000.0,2692800000.0,1520500000.0,1629700000.0
Operating Income,6044200000.0,2692800000.0,1520500000.0,1629700000.0
Other Operating Expenses,3638900000.0,2057000000.0,1928000000.0,1772700000.0
Interest Expense,-869700000.0,-1109500000.0,-1173800000.0,-426600000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1300800000.0,379800000.0,27400000.0,443800000.0
Total Revenue,44104900000.0,32895400000.0,31778900000.0,31770500000.0
Total Operating Expenses,38060700000.0,30202600000.0,30258400000.0,30140800000.0
Cost Of Revenue,30468100000.0,23481300000.0,24227000000.0,25013800000.0
Total Other Income Expense Net,-921300000.0,-1294900000.0,-1911700000.0,-288300000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,3822100000.0,1018100000.0,-418600000.0,897600000.0
Net Income Applicable To Common Shares,3822100000.0,1018100000.0,-418600000.0,897600000.0

In [15]:
ticker1.quarterly_financials

,2022-03-31,2021-12-31,2021-09-30,2021-06-30
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,1832500000.0,1653800000.0,1220400000.0,416200000.0
Minority Interest,None,None,None,None
Net Income,1369700000.0,1234200000.0,905500000.0,312700000.0
Selling General Administrative,None,None,None,None
Gross Profit,3885400000.0,3815600000.0,3584700000.0,2351100000.0
Ebit,1992800000.0,1705800000.0,1745000000.0,600600000.0
Operating Income,1992800000.0,1705800000.0,1745000000.0,600600000.0
Other Operating Expenses,967400000.0,1078900000.0,832300000.0,760300000.0
Interest Expense,-196400000.0,-195600000.0,-227400000.0,-250300000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,462800000.0,419600000.0,314900000.0,103500000.0
Total Revenue,11659100000.0,12547500000.0,11236100000.0,8662200000.0
Total Operating Expenses,9666300000.0,10841700000.0,9491100000.0,8061600000.0
Cost Of Revenue,7773700000.0,8731900000.0,7651400000.0,6311100000.0
Total Other Income Expense Net,-160300000.0,-52000000.0,-524600000.0,-184400000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,1369700000.0,1234200000.0,905500000.0,312700000.0
Net Income Applicable To Common Shares,1369700000.0,1234200000.0,905500000.0,312700000.0

In [16]:
ticker1.major_holders

        0                                      1
0  76.52%        % of Shares Held by All Insider
1  10.24%       % of Shares Held by Institutions
2  43.59%        % of Float Held by Institutions
3      34  Number of Institutions Holding Shares

In [17]:
ticker1.balance_sheet

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
Intangible Assets,8.130000e+08,7.870000e+08,9.896000e+08,1.038600e+09
Total Liab,1.956770e+10,2.305470e+10,2.149960e+10,1.233540e+10
Total Stockholder Equity,8.719900e+09,5.919600e+09,4.908300e+09,5.777200e+09
Other Current Liab,1.526000e+09,8.721000e+08,9.643000e+08,8.673000e+08
Total Assets,2.828760e+10,2.897430e+10,2.640790e+10,1.811260e+10
Common Stock,2.373000e+08,2.373000e+08,2.373000e+08,2.373000e+08
Other Current Assets,6.955000e+08,1.989000e+08,3.175000e+08,1.842000e+08
Other Liab,1.903000e+08,2.142000e+08,2.789000e+08,2.189000e+08
Treasury Stock,8.482600e+09,3.000000e+05,3.000000e+05,1.575000e+08
Other Assets,2.464400e+09,2.271900e+09,2.364700e+09,2.030800e+09
Cash,1.843300e+09,8.351000e+08,9.751000e+08,2.660700e+09
Total Current Liabilities,1.272780e+10,1.290570e+10,9.435100e+09,7.866500e+09
Deferred Long Term Asset Charges,9.056000e+08,8.078000e+08,6.451000e+08,5.132000e+08
Short Long Term Debt,2.000000e+09,3.500000e+09,1.200000e+09,1.461800e+09
Other Stockholder Equity,8.482600e+09,3.000000e+05,3.000000e+05,1.575000e+08
Property Plant Equipment,1.424700e+10,1.511160e+10,1.584050e+10,6.411600e+09
Total Current Assets,1.076320e+10,1.080380e+10,7.213100e+09,8.631600e+09
Net Tangible Assets,7.906900e+09,5.132600e+09,3.918700e+09,4.738600e+09
Short Term Investments,2.073900e+09,4.069900e+09,1.917000e+08,3.016000e+08
Net Receivables,5.800600e+09,5.185700e+09,5.291500e+09,4.921200e+09
Inventory,3.499000e+08,3.178000e+08,2.699000e+08,2.601000e+08
Accounts Payable,5.798700e+09,5.094100e+09,4.010300e+09,4.342500e+09
Capital Surplus,NaN,3.475000e+08,3.475000e+08,3.475000e+08
Retained Earnings,NaN,5.334500e+09,4.323200e+09,5.034900e+09
Long Term Debt,NaN,2.450000e+09,4.100000e+09,4.250000e+09

In [18]:
ticker1.cashflow

,2022-03-31,2021-03-31,2020-03-31,2019-03-31
Investments,1.741400e+09,-3.709700e+09,3.500000e+06,4.000000e+06
Change To Liabilities,7.046000e+08,1.083800e+09,-3.533000e+08,3.423000e+08
Total Cashflows From Investing Activities,1.131000e+08,-5.289800e+09,-1.925800e+09,-2.800300e+09
Net Borrowings,-5.929600e+09,-1.237600e+09,-1.875000e+09,1.575900e+09
Total Cash From Financing Activities,-7.720600e+09,-2.352000e+09,-3.400900e+09,7.917000e+08
Change To Operating Activities,2.405000e+08,-2.156000e+08,4.533000e+08,3.695000e+08
Net Income,3.822100e+09,1.018100e+09,-4.186000e+08,8.976000e+08
Change In Cash,9.904000e+08,-1.400000e+08,-1.685600e+09,4.247000e+08
Total Cash From Operating Activities,8.597900e+09,7.501800e+09,3.641100e+09,2.433300e+09
Depreciation,3.953700e+09,4.069400e+09,3.384400e+09,1.131200e+09
Other Cashflows From Investing Activities,7.630000e+07,2.420000e+07,4.550000e+07,6.420000e+07
Dividends Paid,-9.491000e+08,-9.491000e+08,-2.966000e+08,-2.966000e+08
Change To Inventory,-5.070000e+07,-5.810000e+07,-2.050000e+07,-5.890000e+07
Change To Account Receivables,-6.498000e+08,7.610000e+07,-3.695000e+08,-3.661000e+08
Other Cashflows From Financing Activities,-8.419000e+08,-1.114400e+09,-1.229300e+09,-4.876000e+08
Change To Netincome,5.775000e+08,1.297500e+09,7.265000e+08,-3.000000e+07
Capital Expenditures,-1.745600e+09,-1.606000e+09,-1.989500e+09,-2.873800e+09

In [19]:
ticker1.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [20]:
ticker1.calendar

Empty DataFrame
Columns: []
Index: [Earnings Date, Earnings Average, Earnings Low, Earnings High, Revenue Average, Revenue Low, Revenue High]

In [21]:
ticker1.isin

'INE233B01017'

In [22]:
ticker3 = yf.Ticker("INDIGO.NS")

In [23]:
df = ticker3.history(interval="1d", start="2021-06-23", end="2022-06-23")

In [24]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-06-23,1723.000000,1743.599976,1702.099976,1708.849976,574750,0,0
2021-06-24,1724.000000,1733.449951,1684.050049,1690.150024,653570,0,0
2021-06-25,1695.000000,1732.449951,1692.000000,1728.199951,513349,0,0
2021-06-28,1734.000000,1747.449951,1720.050049,1729.599976,290011,0,0
2021-06-29,1731.849976,1752.949951,1722.000000,1729.250000,354016,0,0

In [52]:
ticker3.info

{'zip': '122002',
 'sector': 'Industrials',
 'longBusinessSummary': 'InterGlobe Aviation Limited provides air transportation services in India and internationally. The company primarily operates IndiGo passenger airline. It also offers ancillary products and services, such as cargo, service requests, ticket modification and cancellation, in-flight sales, ground handling, and tour services. As of March 31, 2021, the company operated a fleet of 285 aircraft. InterGlobe Aviation Limited was incorporated in 2004 and is based in Gurugram, India.',
 'city': 'Gurugram',
 'phone': '91 12 4435 2500',
 'country': 'India',
 'companyOfficers': [],
 'website': 'https://www.goindigo.in',
 'maxAge': 1,
 'address1': 'Tower-C',
 'fax': '91 12 4406 8536',
 'industry': 'Airlines',
 'address2': 'Levels 1-5 Global Business Park Mehrauli-Gurgaon Road',
 'ebitdaMargins': 0.057389997,
 'profitMargins': -0.23762,
 'grossMargins': 0.15211001,
 'operatingCashflow': 20905779200,
 'revenueGrowth': 0.289,
 'operatingMargins': -0.13808,
 'ebitda': 14881710080,
 'targetLowPrice': 1450,
 'recommendationKey': 'buy',
 'grossProfits': 39444780000,
 'freeCashflow': 120160067584,
 'targetMedianPrice': 2200,
 'currentPrice': 1621.5,
 'earningsGrowth': None,
 'currentRatio': 0.902,
 'returnOnAssets': -0.050279997,
 'numberOfAnalystOpinions': 19,
 'targetMeanPrice': 2126.47,
 'debtToEquity': None,
 'returnOnEquity': None,
 'targetHighPrice': 2636,
 'totalCash': 182266134528,
 'totalDebt': 368778379264,
 'totalRevenue': 259309273088,
 'totalCashPerShare': 473.169,
 'financialCurrency': 'INR',
 'revenuePerShare': 673.371,
 'quickRatio': 0.828,
 'recommendationMean': 2.2,
 'exchange': 'NSI',
 'shortName': 'INTERGLOBE AVIATIO',
 'longName': 'InterGlobe Aviation Limited',
 'exchangeTimezoneName': 'Asia/Kolkata',
 'exchangeTimezoneShortName': 'IST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '19800000',
 'quoteType': 'EQUITY',
 'symbol': 'INDIGO.NS',
 'messageBoardId': 'finmb_8285079',
 'market': 'in_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 3.144,
 'beta3Year': None,
 'enterpriseToEbitda': 54.775,
 '52WeekChange': -0.02561903,
 'morningStarRiskRating': None,
 'forwardEps': 97.53,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 385255008,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': -155.452,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1648684800,
 'heldPercentInstitutions': 0.15057999,
 'netIncomeToCommon': -61618450432,
 'trailingEps': -160.01,
 'lastDividendValue': 5,
 'SandP52WeekChange': -0.11873931,
 'priceToBook': None,
 'heldPercentInsiders': 0.77406,
 'nextFiscalYearEnd': 1711843200,
 'yield': None,
 'mostRecentQuarter': 1648684800,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 96169878,
 'beta': 0.394782,
 'enterpriseValue': 815144894464,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': 1566172800,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'priceToSalesTrailing12Months': 2.4090576,
 'dateShortInterest': None,
 'pegRatio': 0.08,
 'ytdReturn': None,
 'forwardPE': 16.625654,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 1646.85,
 'regularMarketOpen': 1660.65,
 'twoHundredDayAverage': 1953.0754,
 'trailingAnnualDividendYield': 0,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 1667.35,
 'navPrice': None,
 'averageDailyVolume10Day': 846099,
 'regularMarketPreviousClose': 1646.85,
 'fiftyDayAverage': 1770.07,
 'trailingAnnualDividendRate': 0,
 'open': 1660.65,
 'toCurrency': None,
 'averageVolume10days': 846099,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': 1566172800,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 1598.55,
 'currency': 'INR',
 'regularMarketVolume': 992901,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 624690987008,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 718939,
 'dayLow': 1598.55,
 'ask': 0,
 'askSize': 0,
 'volume': 992901,
 'fiftyTwoWeekHigh': 2380,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 1511.75,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 1667.35,
 'regularMarketPrice': 1621.5,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/goindigo.in'}

In [25]:
dfnextFifty = pd.read_csv("ind_niftynext50list.csv")

In [26]:
dfnextFifty.head()

,Company Name,Industry,Symbol,Series,ISIN Code
0,ACC Ltd.,Construction Materials,ACC,EQ,INE012A01025
1,Adani Enterprises Ltd.,Metals & Mining,ADANIENT,EQ,INE423A01024
2,Adani Green Energy Ltd.,Power,ADANIGREEN,EQ,INE364U01010
3,Adani Transmission Ltd.,Power,ADANITRANS,EQ,INE931S01010
4,Ambuja Cements Ltd.,Construction Materials,AMBUJACEM,EQ,INE079A01024

In [30]:
tickerM = yf.Ticker(dfnextFifty.iloc[3]['Symbol']+".NS")

In [31]:
dfM = tickerM.history(interval="1d", start="2021-06-23", end="2022-06-23")

In [32]:
dfM

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-06-23,1403.000000,1409.000000,1298.900024,1321.449951,343449,0,0
2021-06-24,1291.000000,1295.050049,1255.400024,1255.650024,304737,0,0
2021-06-25,1231.650024,1237.900024,1192.900024,1192.900024,284591,0,0
2021-06-28,1134.000000,1200.000000,1133.300049,1159.000000,202876,0,0
2021-06-29,1164.099976,1199.800049,1101.050049,1115.199951,334173,0,0
...,...,...,...,...,...,...,...
2022-06-16,2104.000000,2150.000000,2059.050049,2124.649902,596230,0,0
2022-06-17,2124.000000,2136.000000,2005.000000,2032.599976,542578,0,0
2022-06-20,2034.949951,2088.000000,2013.000000,2060.250000,366365,0,0
2022-06-21,2068.000000,2260.000000,2060.250000,2215.050049,286782,0,0
2022-06-22,2180.000000,2220.000000,2082.649902,2122.350098,591300,0,0

In [33]:
listSymbol = []
for i in range(len(dfnextFifty)):
    listSymbol.append(dfnextFifty.iloc[i]['Symbol'])

In [34]:
len(listSymbol)

50

In [35]:
listSymbol

['ACC',
 'ADANIENT',
 'ADANIGREEN',
 'ADANITRANS',
 'AMBUJACEM',
 'DMART',
 'BAJAJHLDNG',
 'BANDHANBNK',
 'BANKBARODA',
 'BERGEPAINT',
 'BIOCON',
 'BOSCHLTD',
 'CHOLAFIN',
 'COLPAL',
 'DLF',
 'DABUR',
 'NYKAA',
 'GAIL',
 'GLAND',
 'GODREJCP',
 'HDFCAMC',
 'HAVELLS',
 'ICICIGI',
 'ICICIPRULI',
 'IOC',
 'INDUSTOWER',
 'NAUKRI',
 'INDIGO',
 'JUBLFOOD',
 'LTI',
 'LUPIN',
 'MARICO',
 'MINDTREE',
 'MUTHOOTFIN',
 'NMDC',
 'PAYTM',
 'PIIND',
 'PIDILITIND',
 'PEL',
 'PGHH',
 'PNB',
 'SBICARD',
 'SRF',
 'SIEMENS',
 'SAIL',
 'TORNTPHARM',
 'MCDOWELL-N',
 'VEDL',
 'ZOMATO',
 'ZYDUSLIFE']

In [38]:
ticker = yf.Ticker('ZOMATO.NS')
tickerHistory = ticker.history(interval="3mo", start="2021-06-23", end="2022-06-23")
tickerHistory

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-07-01,135.750000,152.750000,120.500000,136.600006,1546146066,0,0
2021-10-01,137.300003,169.000000,124.599998,137.399994,1992958336,0,0
2022-01-01,139.699997,142.449997,75.500000,82.300003,1710775389,0,0
2022-04-01,82.099998,88.300003,50.049999,69.550003,2431965704,0,0

In [39]:
nextFiftyDict = {new_list: [] for new_list in listSymbol}

In [40]:
nextFiftyDict

{'ACC': [],
 'ADANIENT': [],
 'ADANIGREEN': [],
 'ADANITRANS': [],
 'AMBUJACEM': [],
 'DMART': [],
 'BAJAJHLDNG': [],
 'BANDHANBNK': [],
 'BANKBARODA': [],
 'BERGEPAINT': [],
 'BIOCON': [],
 'BOSCHLTD': [],
 'CHOLAFIN': [],
 'COLPAL': [],
 'DLF': [],
 'DABUR': [],
 'NYKAA': [],
 'GAIL': [],
 'GLAND': [],
 'GODREJCP': [],
 'HDFCAMC': [],
 'HAVELLS': [],
 'ICICIGI': [],
 'ICICIPRULI': [],
 'IOC': [],
 'INDUSTOWER': [],
 'NAUKRI': [],
 'INDIGO': [],
 'JUBLFOOD': [],
 'LTI': [],
 'LUPIN': [],
 'MARICO': [],
 'MINDTREE': [],
 'MUTHOOTFIN': [],
 'NMDC': [],
 'PAYTM': [],
 'PIIND': [],
 'PIDILITIND': [],
 'PEL': [],
 'PGHH': [],
 'PNB': [],
 'SBICARD': [],
 'SRF': [],
 'SIEMENS': [],
 'SAIL': [],
 'TORNTPHARM': [],
 'MCDOWELL-N': [],
 'VEDL': [],
 'ZOMATO': [],
 'ZYDUSLIFE': []}

In [50]:
for i in listSymbol:
    ticker = yf.Ticker(i + '.NS')
    tickerHistory = ticker.history(interval="3mo", start="2021-05-23", end="2022-05-23")
    start = tickerHistory.iloc[0]['High']
    end = tickerHistory.iloc[2]['High']
    growth = (end - start)/start*100
    nextFiftyDict[i] = [start,end,growth]

In [51]:
nextFiftyDict

{'ACC': [2349.881519755698, 2519.1898214053786, 7.204971834804788],
 'ADANIENT': [1716.0608274391934, 1672.949951171875, -2.512199776254493],
 'ADANIGREEN': [1323.0, 1986.75, 50.17006802721088],
 'ADANITRANS': [1644.949951171875, 2141.0, 30.155935654743487],
 'AMBUJACEM': [406.69831132852426, 425.9389807220669, 4.730944008764361],
 'DMART': [3533.39990234375, 5180.0, 46.601011579924446],
 'BAJAJHLDNG': [3944.6927795777424, 5008.073195375376, 26.95724293924513],
 'BANDHANBNK': [353.1530693719028, 348.29998779296875, -1.3742147527035393],
 'BANKBARODA': [86.30138814980775, 105.23138711406628, 21.934756056760715],
 'BERGEPAINT': [869.9507457193337, nan, nan],
 'BIOCON': [420.25, 387.8999938964844, -7.697800381562314],
 'BOSCHLTD': [15956.74139167488, nan, nan],
 'CHOLAFIN': [581.9789092424226, nan, nan],
 'COLPAL': [1777.5496747960976, 1515.8986825832528, -14.719756973478603],
 'DLF': [342.31990307983716, nan, nan],
 'DABUR': [599.4379461868473, 656.2282107281466, 9.473918843902739],
 'NYKAA': [2560.0, 1737.5999755859375, -32.125000953674316],
 'GAIL': [159.69148045365006, 145.15703411256314, -9.101579057190529],
 'GLAND': [4172.0, 4062.949951171875, -2.6138554369157476],
 'GODREJCP': [1010.0, 985.25, -2.4504950495049505],
 'HDFCAMC': [3179.54745394547, 3290.648947226539, 3.4942549180451516],
 'HAVELLS': [1183.1739689913434, 1494.7570465463757, 26.334510876761186],
 'ICICIGI': [1603.2615258528504, nan, nan],
 'ICICIPRULI': [658.0593547717689, 723.5404349751265, 9.950634350615383],
 'IOC': [108.31388717973462, nan, nan],
 'INDUSTOWER': [245.80996274547172, 290.24484824800646, 18.076926177538876],
 'NAUKRI': [5612.098626954722, 7454.91548871777, 32.83650171278281],
 'INDIGO': [1860.0, 2380.0, 27.956989247311824],
 'JUBLFOOD': [762.0396325801806, nan, nan],
 'LTI': [4677.8933979530475, nan, nan],
 'LUPIN': [1260.6180051724336, 1159.300048828125, -8.037165575026819],
 'MARICO': [543.3650315783095, 567.1348335491913, 4.374554965717565],
 'MINDTREE': [2917.9376609756473, 4927.319968452547, 68.86309924815319],
 'MUTHOOTFIN': [1591.4197259125247, 1695.7056519490377, 6.553012026837559],
 'NMDC': [176.39888961575676, 135.6427985296974, -23.104505461931687],
 'PAYTM': [1725.0, 664.0, -61.507246376811594],
 'PIIND': [3301.9932991871333, nan, nan],
 'PIDILITIND': [2325.403521505479, 2532.0, 8.884328099785845],
 'PEL': [2486.3626998993377, 3014.949951171875, 21.259458698199484],
 'PGHH': [13738.413190379004, 16162.523039139081, 17.64475864256055],
 'PNB': [44.0319297887102, 42.31958014825998, -3.8888816562595165],
 'SBICARD': [1136.1673903362937, 1127.5924914315588, -0.7547214413711395],
 'SRF': [1739.2681576930422, nan, nan],
 'SIEMENS': [2170.680022904121, 2568.1897389485543, 18.31268136482921],
 'SAIL': [135.63983983006437, nan, nan],
 'TORNTPHARM': [3081.982908646367, 3202.7102724005567, 3.9171977046171973],
 'MCDOWELL-N': [690.0, 1019.9500122070312, 47.81884234884511],
 'VEDL': [237.57606243503653, nan, nan],
 'ZOMATO': [152.75, 142.4499969482422, -6.743046187730155],
 'ZYDUSLIFE': [660.9586903044869, nan, nan]}